+++
title = "skb.io"
linkTitle = "skb.io"

+++

{{< blocks/cover title="Welcome to skb.io" image_anchor="top" height="max" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/about" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a> -->
	<p class="lead mt-5">Let's learn something new!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Have you ever had that experience, where you built something in your homelab and had to revisit it,
only to discover that you have forgetten nearly everything about how you accomplished it?

Yeah... me too and that is why skb.io exists.
It is a dumping ground for projects, code snippets, random musings, and other interesting things.
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fab fa-blank" %}}
<!--blank block for formatting purposes-->
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Get the code!" url="https://github.com/mpslanker/skb.io" %}}
The source for this site is available on **GitHub**.
{{% /blocks/feature %}}

{{< /blocks/section >}}